/* COMMON */

header {
    width: 100%;
}




/* TYPO */





/* HEADER */

.banner-nero {
    position: fixed;
    z-index: 69;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: black;
    height: 35px;
    width: 100%;
}

.banner-bianco-link {
    position: fixed;
    z-index: 69;
    margin-top: 35px;
    width: 100%;
}


.logo-sony {
    height: 20px;
    right: 0;
    margin-right: 20px;
}





/* MAIN */





/* FOOTER */