
/* COMMON */

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
}

footer {
    min-height: 500px;
}

.black {
    color: black;
}

.white {
    color: white;
}

.blu {
    color: #3469e6;
}

.blu-scuro {
    color: #161c3b;
}

.blu-playstation {
    color: #0273ce;
}

.blu-footer {
    background-color: #00439c;
}

.background-white {
    background-color: white;
}

.background-grey {
    background-color: #1f1f1f;
}

.bakground-grey-chiaro {
    background-color: #bebcbb;
    min-height: 300px;
}

.background-blu-scuro {
    background-color: #161c3b;
}

a > p {
    display: inline;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.align-items {
    align-items: center;
}

.margin-top-nuove-uscite {
    margin-top: 10px;
}

.padding-bottom-nuove-uscite {
    padding-bottom: 60px;
}

.margin-bottom-ps4 {
    margin-bottom: 60px;
}

.padding-bottom-plus {
    padding-bottom: 30px;
}

.margin-top-social {
    margin-top: 70px;
}

.padding-bottom-p-footer {
    padding-bottom: 80px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-6 {
    margin-bottom: 6px;
    display: inline-block;
}

.padding-top-negative {
    margin-top: -20px;
}

/* TYPO */

.h2-medio {
    font-size: 50px;
}

.scritte-ps5 > h2 {
    font-size: 50px;
}

.quarantadue-px {
    font-size: 42px;
}

.p-medio {
    font-size: 20px;
}

.p-grande {
    font-size: 45px;
}

/* HEADER */

.banner-nero {
    position: fixed;
    top: 0;
    z-index: 69;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: black;
    height: 35px;
    width: 100%;
}

.banner-bianco-link {
    position: fixed;
    z-index: 69;
    top: 35px;
    width: 100%;
}

.logo-sony {
    height: 20px;
    right: 0;
    margin-right: 20px;
}

.img-lente {
    height: 40px;
}

.bottone-nero-header {
    margin: 0px 20px;
}

.border-radius-btn {
    border-radius: 30px;
}

/* MAIN */

.sfondo-hero {
    background-image: url(../img/jumbo-bg.png);
    min-height: 650px;
    margin-top: 101px;
    background-size: cover;
    background-position: center;
}

.bannerino-returnal {
    height: 50px;
    margin-bottom: 20px;
}

.padding-hero {
    padding-top: 280px;
}

.p-hero {
    margin: 30px 0px 30px 0px;
}

.btn-rosso {
    background-color: #cd3d0f;
}

.btn-blu {
    background-color: #0273ce;;
}

.btn-grey {
    background-color: #d9dadc;
}

.img-col-sotto-hero{
    margin-top: 40px;
    width: 100%;
    border-radius: 8px;
}

.img-col-sconti {
    margin-top: 60px;
    width: 100%;
    margin-bottom: 100px;
}

.scritte-ps5 {
    text-align: center;
    margin-top: 90px;
}

.scritte-ps4 {
    text-align: center;
    padding-top: 40px;
}

.scritte-sconto {
    text-align: center;
    padding-top: 50px;
}

.sfondo-takes-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    min-height: 920px;
}

.bannerino-takes-two {
    height: 300px;
    margin-bottom: 60px;
}

.padding-takes-two {
    padding-top: 80px;
}

.background-grey > h3 {
    padding: 30px 0px 20px 30px;
}

.background-grey > p {
    padding: 0px 30px;
}

.ps-plus-logo {
    height: 80px;
    margin-bottom: 30px;
}

.img-plus {
    width: 100%;
}

/* FOOTER */

.logo-ps-footer {
    height: 100px;
    margin-bottom: 30px;
    margin-top: 70px;
}

.logo-mondo-footer {
    
    height: 20px;
}

.link-footer {
    color: white;
    text-decoration: none;
}

.country {
    margin-bottom: 40px;
}

.sie-logo {
    height: 70px;
    margin-bottom: 40px;
    margin-top: 40px;
}

/* ANIMAZIONI */

.animazione-btn-nero.animazione-btn-hover:hover {
    outline: 2px solid #363636;
    outline-offset: 2px;
    color: white;
}

.animazione-btn-bianco.animazione-btn-hover:hover {
    outline: 2px solid white;
    outline-offset: 2px;
}

.btn-rosso.animazione-btn-hover:hover {
    outline: 2px solid #dc3545;
    outline-offset: 2px;
}

.btn-blu.animazione-btn-hover:hover {
    outline: 2px solid #0d6efd;
    outline-offset: 2px;
}

.btn-grey.animazione-btn-hover:hover {
    outline: 2px solid #d9dadc;
    outline-offset: 2px;
}

.overlay:hover {
    opacity: 1;
    border-bottom: 2px solid #0273ce;
}

.overlay {
    opacity: 0.6;
    border-bottom: 2px solid transparent;
}

.sollevamento-img:hover {
    transform: translateY(-10%);
    border: 3px solid #0273ce;

}

.bordo-img {
    border: 2px solid transparent;
    padding: 3px;
}