/* COMMON */

header {
    width: 100%;
}


.black {
    color: black;
}

.background-white {
    background-color: white;
}

a > p {
    display: inline;
}

/* TYPO */





/* HEADER */

.banner-nero {
    position: fixed;
    top: 0;
    z-index: 69;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: black;
    height: 35px;
    width: 100%;
}

.banner-bianco-link {
    position: fixed;
    z-index: 69;
    top: 35px;
    width: 100%;
}


.logo-sony {
    height: 20px;
    right: 0;
    margin-right: 20px;
}

.img-lente {
    height: 40px;
}

.border-radius-btn {
    border-radius: 30px;
    margin: 0px 20px;
}

/* MAIN */

.sfondo-hero {
    background-image: url(../img/jumbo-bg.png);
    min-height: 500px;
    margin-top: 101px;






/* FOOTER */